body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#main-header {
    background-color: #f6e70a;
    color: #000000;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    width: 100%; /* Dodatkowo ustawiamy szerokość na 100%, aby nagłówek wypełniał całą szerokość strony */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 20px;
    margin-top: 50px; /* Dodatkowo dodajemy margines górnym, aby zawartość nie zaczynała się pod nagłówkiem */
}
